.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #AA151E;
  border-top: #FBAF00 solid 1px;
  border-bottom: #FBAF00 solid 1px;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #FBAF00;
  text-align: center;
  padding: 10px 10px;
  background-color: #AA151E;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.nav li a:hover {
  text-decoration: underline;
  font-size: 100%;
  top: -5px;
}